/*#chat-box {
    margin: 0 auto;
    background-color: bisque;
    width: 500px;
    height: 600px;
}

h1.title {
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 2%;
}

.send {
    display: block;
    margin: auto;
}
*/

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chat-container{
    width: 60%;
    height: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: #18191c;
  /*   background-color: #7289da; */
  }
  
  .chat-message{
    overflow-y: auto; 
    height: 80%;
    padding: 5px;
  }

  #list {
      padding-top: 5%;
      color: white;
  }

  #message {
      display: block;
      margin: auto;
  }

  .titre {
      color: cornsilk;
      text-align: center;
  }